@import "tailwindcss";

@theme {
  --color-primary: #4f4998;
}

body {
  margin: 0;
  min-height: 100vh;
  background: hsla(240,100%,92.55%,1);
  font-family: Inter, sans-serif;
  color: hsla(244.56,35.11%,44.12%,1);
}